.login-container {
   width: 100vw;
   height: 100vh;
   background: url('../../assets/Simbolo.png') no-repeat;
   background-position: left;
   background-color: var(--blue);
   display: flex;
   justify-content: flex-end;
   align-items: center;
   overflow: hidden;
}

.form-login {
   margin-right: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}

.form-login img.logo {
   margin-bottom: 100px;
}

.form-content h2 {
   font-weight: 600;
   font-size: 2.5rem;
   color: var(--white);
   margin-bottom: 24px;
}

.github-login {
   display: flex;
   align-items: center;
   margin-bottom: 40px;
}

.github-login p {
   font-weight: 500;
   font-size: 1rem;
   color: var(--text-highlight);
   margin-left: 24px;
   max-width: 300px;
}

.input-block {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.input-block input {
   color: var(--text-highlight);
   background-color: var(--blue-dark);
   border: 0;
   padding: 23px 13px 23px 30px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   outline: 0;
}

.input-block button {
   background-color: var(--blue-dark);
   width: 65px;
   height: 66px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 0;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   outline: 0;
   transition: background-color 0.6s ease;
   cursor: pointer;
}

.input-block button.green {
   background-color: var(--green);
   border: 0;
}

.form-content span {
   color: var(--text-highlight);
   margin-left: 5px;
}     

@media(max-width: 922px) {
   .login-container {
      justify-content: center;
      background-position: center;
      align-items: center;
   }

   .form-login {
      margin-right: 0px;
      justify-content: space-around;
      align-items: center;
   }
}

@media(max-width: 768px) {
   .form-content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .github-login p {
      max-width: initial;
   }
   
   .form-login img.logo {
      margin-bottom: 70px;
   }

   .input-block {
      padding-left: 30px;
   }

   .input-block button {
      background-color: transparent;
   }

   .input-block input {
      border-radius: 5px;
   }
   
   .form-login img {
      transform: scale(0.7);
   }

   .github-login {
      flex-direction: column;
   }

   .form-content h2 {
      text-align: center;
   }
}

@media(max-width: 320px) {
   .form-login img {
      transform: scale(0.5);
   }

   .input-block input {
      padding: 13px 3px 13px 15px;
   }
   
   .input-block button {
      width: 33px;
      height: 33px;
   }

   .input-block button.green {
      background-color: transparent;
      border: 0;
   }

   .github-login {
      margin-bottom: 20px;
   }
   
   .github-login img {
      width: 70px;
      height: 70px;
   }

   .github-login p {
     display: none;
   }

   .form-content span {
      font-size: 1rem;
   }    
}